{% extends 'base.html.twig' %}

{% block body %}

    <h2>La page d'acceuil</h2>
    {% for produit in produits %}
        <div><strong><a href="{{ path('produit_details',{'id':produit.id}) }}">{{ produit.libelle }}</a></strong></div>
        <div>catégorie : {{ produit.categorie.libelle }}</div>

    {% endfor %}


{% endblock %}

{% block title %}

{% endblock %}
