{% extends 'base.html.twig' %}

{% block body %}


    <div>
        <h2>La page d'ajout</h2>
        {{ form_start(produitForm) }}
        {{ form_widget(produitForm) }}
        <button>Ajouter produit</button>
        {{ form_end(produitForm) }}
    </div>

{% endblock %}

{% block title %}

{% endblock %}
