{% extends 'base.html.twig' %}

{% block body %}


    <div>
        <h2>Modifier produit </h2>
        {{ form_start(produitForm) }}
        {{ form_widget(produitForm) }}
        <button>Edit</button>
        {{ form_end(produitForm) }}
    </div>

{% endblock %}

{% block title %}

{% endblock %}
