{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h2>La page d'ajout d'une catégorie</h2>
        {{ form_start(categoryForm) }}
        {{ form_widget(categoryForm) }}
        <button>Ajouter catégorie</button>
        {{ form_end(categoryForm) }}
    </div>

{% endblock %}


{% block title %}

{% endblock %}
