{% extends 'base.html.twig' %}

{% block body %}

    <h2>Liste des catégories</h2>
    {% for categorie in categories %}
    <div>{{ categorie.libelle }}</div>
    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}
